.checkbox {
  position: relative;
  margin-top: 15px;
  cursor: pointer;

  &__name {
    padding-left: 25px;
    display: block;
    font-family: "PT Mono", "Rockwell", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.8;
  }

  &__mark {
    display: block;
    width: 13px;
    height: 13px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background-color: none;
    position: absolute;
    top: 7px;
  }

  &__tick {
    position: absolute;
    top: 2px;
    left: 1px;
    display: none;
  }

  &__input:checked + .checkbox__mark .checkbox__tick {
    display: block;
  }
}


.checkbox__input:disabled + .checkbox__mark,
.checkbox__input:disabled ~ .checkbox__name {
  opacity: 0.3;
}
