.contact {
  &__link {
    display: flex;
    min-width: 225px;
    align-items: center;
    justify-content: flex-start;
  }

  &__text {
    margin: 0;
    margin-left: 15px;
    font-family: "PT Mono", "Rockwell", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: $color-white;
  }
}

@include vp-1023 {
  .contact {
    min-width: 0;

    &__text {
      display: none;
    }
  }
}
